<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/icono.png">
    <title>Opinion🏅 </title>
</head>
<body>
    <header>
        <div>
           <h1>Cine🚬</h1>
           <p>Peliculas Christopher de Nolan</p>
        </div>
    </header>
    <!-- navbar -->
    <nav class="navbar">
        <a href="../../index.html">Biografía</a>
        <a href="../views/peliculas.html">Peliculas</a>
        <a href="">Opinión</a>
    </nav> 
    <!--formulario-->

    <div class="container">
        <h2>Reseña de Película</h2>
        <form>
            <label for="nombre">Nombre de la Pelicula:</label>
            <input type="text" id="nombre" name="nombre" required>

            <label for="resena">Reseña:</label>
            <textarea id="resena" name="resena" rows="4" required></textarea>

            <button type="submit">Enviar Reseña</button>
        </form>
    </div>

</body>
</html>