<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../../img/pochoclo.png">
    <title>Peliculas🍿</title>
</head>
<body>
    <header>
        <div>
           <h1>Cine🚬</h1>
           <p>Peliculas Christopher de Nolan</p>
        </div>
    </header>
    <!-- navbar -->
    <nav class="navbar">
        <a href="../../index.html">Biografía</a>
        <a href="">Peliculas</a>
        <a href="../views/opinion.html" target="_blank">Opinión</a>
    </nav> 

    <!--carrusel -->
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../public/img/Followin.jpg" class="d-block w-100" alt="..."> 
          </div>
          <div class="carousel-item">
            <img src="../../public/img/Memento.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../public/img/Insomnia.webp" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../public/img/Batmanbegins.webp" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../public/img/Eltrucofinal.webp" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../public/img/The-Dark-Knight-Rises.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../public/img/Inception.jpg" class="d-block w-100" alt="...">
          </div>

          <div class="carousel-item">
            <img src="../../public/img/Interstellar.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../public/img/Dunkerque.jpg" class="d-block w-100" alt="...">
          </div>
         
          <div class="carousel-item">
            <img src="../../public/img/Tenet.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../public/img/Oppenheimer.webp" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div> 

      <!--Sinopsis-->
      <div class="movie-list">
        <div class="movie-item">
            <h2>Following</h2>
            <p>Es un thriller psicológico dirigido por Christopher Nolan que se sumerge en las complejidades de la obsesión y la identidad. La trama sigue a un joven escritor sin nombre que, en busca de inspiración para su novela, decide seguir a personas al azar por las calles de Londres. Este aparentemente inocente ejercicio se convierte en una espiral descendente cuando se cruza con un astuto ladrón y se ve envuelto en una red de crimen y traición</p>
        </div>

        <div class="movie-item">
            <h2>Memento</h2>
            <p>Cuenta la historia de Leonard Shelby, interpretado por Guy Pearce. Leonard sufre de una condición rara que le provoca una pérdida permanente de memoria a corto plazo después de un trágico incidente que también dejó a su esposa muerta. Ahora, Leonard está obsesionado con encontrar y vengar la muerte de su esposa.</p>
        </div>

        <div class="movie-item">
            <h2>Insomnio</h2>
            <p> La historia sigue al detective de Los Ángeles, Will Dormer, interpretado por Al Pacino, y su compañero Hap Eckhart, interpretado por Martin Donovan, quienes son enviados a un pequeño pueblo en Alaska para investigar el asesinato de una joven.</p>
        </div>

        <div class="movie-item">
            <h2>Batman Begins</h2>
            <p>La película narra los orígenes del icónico personaje de DC Comics, Batman, y explora la transformación de Bruce Wayne en el héroe enmascarado que lucha contra la injusticia en Gotham City.</p>
        </div>

        <div class="movie-item">
            <h2>El truco final</h2>
            <p>La historia se desarrolla a finales del siglo XIX y sigue a dos magos rivales, Robert Angier (interpretado por Hugh Jackman) y Alfred Borden (interpretado por Christian Bale), mientras compiten ferozmente por crear el truco de magia definitivo.</p>
        </div>

        <div class="movie-item">
            <h2>The Dark Knight Rises</h2>
            <p>La trama tiene lugar ocho años después de los eventos de "The Dark Knight". Batman ha desaparecido y Bruce Wayne se ha retirado de la vida pública. Gotham experimenta un período de paz relativa bajo la Ley Dent, que lleva el nombre del fallecido fiscal de distrito Harvey Dent. Sin embargo, un nuevo villano enmascarado llamado Bane (interpretado por Tom Hardy) emerge con el objetivo de destruir Gotham y revelar las verdades ocultas detrás de la Ley Dent.</p>
        </div>

        <div class="movie-item">
            <h2>Inception</h2>
            <p> La película se centra en el personaje de Dom Cobb, interpretado por Leonardo DiCaprio, un "ladrón de ideas" especializado en la extracción de secretos de las mentes de las personas mientras están en un estado de sueño profundo.</p>
        </div>
        
        <div class="movie-item">
            <h2>Interstellar</h2>
            <p>La película está ambientada en un futuro distópico en la Tierra, donde las cosechas están fallando y la humanidad se enfrenta a la extinción debido a la falta de recursos. En este contexto, un grupo de astronautas es enviado en una misión interestelar para encontrar un nuevo hogar para la humanidad.</p>
        </div>

        <div class="movie-item">
            <h2>Dunkerque</h2>
            <p>La historia se desarrolla en tres líneas de tiempo entrelazadas: en la playa de Dunkerque, donde miles de soldados británicos y franceses esperan ser evacuados mientras son atacados desde el aire; en el mar, donde civiles británicos participan en la evacuación con sus embarcaciones privadas; y en el aire, donde aviones de la Real Fuerza Aérea (RAF) intentan proporcionar cobertura aérea y derribar aviones enemigos.</p>
        </div>

        <div class="movie-item">
            <h2>Tenet</h2>
            <p>En el mundo de "Tenet", ciertos objetos y personas tienen la capacidad de invertir su entropía, lo que les permite moverse hacia atrás en el tiempo. Esta capacidad para revertir el flujo del tiempo introduce complejidades y paradojas temporales que se exploran a lo largo de la película. El protagonista se asocia con Neil, interpretado por Robert Pattinson, para enfrentarse a un misterioso empresario ruso, Andrei Sator, interpretado por Kenneth Branagh, que busca desencadenar un evento global catastrófico conocido como "Algoritmo".</p>
        </div>

        <div class="movie-item">
            <h2>Oppenheimer</h2>
            <p>La cinta narra la vida de J. Robert Oppenheimer, un físico teórico que fue fundamental en el desarrollo de las primeras armas nucleares como parte del Proyecto Manhattan y, por lo tanto, marcó el comienzo de la era atómica. Cillian Murphy interpreta a Oppenheimer</p>
        </div>

    </div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>